.App {
    position: relative;
  }
  
  .App ul {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: #01B3BD;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    color: white;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
    list-style-type: none;
    padding: 0;
    margin: 3px;
  }
  
  .App ul.show {
    max-height: 150px;
  }
  
  .App ul li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .App ul li:hover {
    background-color: #42ced5;
  }
  